.wrapper {
  display: flex;
  flex-direction: column;
  align-items: right;
  gap: 10px;
  margin-bottom: 15px;
}

.field {
  padding: 10px;
  border: 1px solid rgb(22, 97, 116);
  border-radius: 8px;
  font-family: inherit;
  color: rgb(22, 97, 116);
}

.label {
  font-size: 20px;
  color: rgb(22, 97, 116);
}