
.main_title {
    width: 100%;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.47;
    letter-spacing: normal;
    margin: 0;
    max-width: 100%;
}


.btn {
    width: 260px;
    min-width: 200px;
    margin-top: 50px;
    color: #ffffff4d;
    box-shadow: 0 7px 14px #00000029;
    text-align: center;
    background-color: #1b2235;
    text-decoration: none;
    padding: 18px 20px;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -.05px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

.btn:hover, .btn:focus {
    box-shadow: 0 7px 14px #00000029;
    background-color: #252e47;
}

.main_form{
    margin-top: 50px;
}
